h1 {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    margin-right: 10px;
  }